.model {
  border-radius: 20px;
  padding: 20px;
  aspect-ratio: 11 / 15;
  max-width: 100%;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);

  img.background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    transition: 0.3s ease;
  }

  &:hover {
    img.background {
      scale: 1.05;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.5));
  }

  .upper {
    z-index: 1;
    
    h3, span {
      color: #fff;
      font-family: 'Montserrat';
      font-weight: bold;
    }  
    .power-types {
      display: flex;
      gap: 5px;
    }
    span {
      font-size: 12px;
      background: rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(25px);
      width: min-content;
      padding: 5px;
      border-radius: 5px;
    }
  }
  .lower {
    z-index: 1;
    display: flex;
    flex-direction: column;
    
    h3, p {
      color: #fff;
    }

    .buttons {
      display: flex;
      gap: 7px;
    
      button {
        border-radius: 5px;
        padding: 10px 20px;
        font-weight: bold;
        font-family: 'Montserrat';
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;

        span {
          z-index: 1;
          position: relative;
          transition: 0.2s ease;
        }

        svg {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: -20px;
          transition: 0.2s ease;
        }

        &:hover {
          svg {
            right: 10px;
          }
          span {
            transform: translateX(-10px);
          }
        }
  
        &.top {
          background: #fff;
          color: #000;
          border: none;
        }
        &.bottom {
          background: transparent;
          color: #fff;
          border: 2px solid #fff;
          transition: 0.2s ease;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .model {
    .lower {
      .buttons {
        flex-direction: column;
      }
    }
  }
}