.App {
  min-height: 200vh;
  overflow-x: hidden;
}

.content {
  padding: 20px;
  background: #f8f9fa;
}

.carCards {
  display: flex;
  flex-wrap: wrap;
  max-width: 1020px;
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
}